body {
  background-image: url("assests/7283771.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 20px;
}
.head {
  height: 20vh;
  align-content: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
h1 {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
  color: pink;
}
audio {
  width: 50px;
}
p {
  font-size: 100px;
  font-weight: 800;
  color: red;
}
p {
  cursor: pointer;
}
.pressed {
  opacity: 0.6;
  transform: scale(0.9);
}
