body {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Frock-band-background&psig=AOvVaw2JFDTsu8ipHSaWdbe67NgY&ust=1763487116186000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCOi8v8vb-ZADFQAAAAAdAAAAABAE");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 20px;
}
.head {
  height: 20vh;
  align-content: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
h1 {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
}
audio {
  width: 50px;
}
p {
  font-size: 100px;
  font-weight: 800;
  color: aliceblue;
}
p {
  cursor: pointer;
}
.pressed {
  opacity: 0.6;
  transform: scale(0.9);
}
